<p style="float: right; text-align: right; margin: 0;">
  {{ "now" | date: "%m/%d/%y" }}<br />
  Invoice for {{ order_name }}
</p>

<div style="float: left; margin: 0 0 1.5em 0;" >
  <strong style="font-size: 2em;">{{ shop_name }}</strong><br /><br />
  {{ shop.address }}<br/>
  {{ shop.city }} {{ shop.province_code }} {{ shop.zip | upcase }}<br/>
  {{ shop.country }}
</div>

<hr />

<h3 style="margin: 0 0 1em 0;">Item Details</h3>

<table class="table-tabular" style="margin: 0 0 1.5em 0;">
  <thead>
    <tr>
      <th>Quantity</th>
      <th>Item</th>
      {% if show_line_item_taxes %}
      <th>Taxes</th>
      {% endif %}
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for line_item in line_items %}
      <tr>
        <td>{{ line_item.quantity }} x</td>
        <td><b>{{ line_item.title }}</b></td>
        {% if line_item.tax_lines %}
          <td>
            {% for tax_line in line_item.tax_lines %}
              {{ tax_line.price | money }} {{ tax_line.title }}<br/>
            {% endfor %}
          </td>
        {% endif %}
        <td>{{ line_item.price | money }}</td>
        <td>{{ line_item.sku }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if transactions.size > 1 %}
  <h3 style="margin: 0 0 1em 0;">Transaction Details</h3>
  <table class="table-tabular" style="margin: 0 0 1.5em 0;">
    <thead>
      <tr>
        <th>Type</th>
        <th>Amount</th>
        <th>Kind</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.gateway | payment_method }}</td>
          <td>{{ transaction.amount | money }}</td>
          <td>{{ transaction.kind }}</td>
          <td>{{ transaction.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<h3 style="margin: 0 0 1em 0;">Payment Details</h3>

<table class="table-tabular" style="margin: 0 0 1.5em 0;">
  <tr>
    <td>Subtotal price:</td>
    <td>{{ subtotal_price | money }}</td>
  </tr>
  {% for discount in discounts %}
  <tr>
    <td>Includes discount "{{ discount.code }}"</td>
    <td>{{ discount.savings | money }}</td>
  </tr>
  {% endfor %}
  <tr>
    <td>Total tax:</td>
    <td>{{ tax_price | money }}</td>
  </tr>
  {% if shipping_address %}
    <tr>
      <td>Shipping:</td>
      <td>{{ shipping_price | money }}</td>
    </tr>
  {% endif %}
  <tr>
    <td><strong>Total price:</strong></td>
    <td><strong>{{ total_price | money }}</strong></td>
  </tr>
  {% if total_paid != total_price %}
    <tr>
      <td><strong>Total paid:</strong></td>
      <td><strong>{{ total_paid | money }}</strong></td>
    </tr>
    <tr>
      <td><strong>Outstanding Amount:</strong></td>
      <td><strong>{{ total_price | minus: total_paid | money }}</strong></td>
    </tr>
  {% endif %}

</table>

{% if note %}
  <h3 style="margin: 0 0 1em 0;">Note</h3>
  <p>{{ note }}</p>
{% endif %}

{% if shipping_address %}
  <h3 style="margin: 0 0 1em 0;">Shipping Details</h3>

  <div style="margin: 0 0 1em 0; padding: 1em; border: 1px solid black;">
    <strong>{{ shipping_address.name }}</strong><br/>
    {% if shipping_address.company %}
      {{ shipping_address.company }}<br/>
    {% endif %}
    {{ shipping_address.street }}<br/>
    {{ shipping_address.city }}
    {{ shipping_address.province_code }}
    {{ shipping_address.zip | upcase }}<br/>
    {{ shipping_address.country }}
  </div>
{% endif %}

<!-- PAYMENT INFO -->
              {% assign has_been_refunded = false %}
              {% if transactions != blank %}
                    {% assign total_paid = 0 %}
                    {% assign change_info = '' %}

                    {% for transaction in transactions %}

                          {% if transaction.status == 'success' or transaction.status == null %}
                            {% assign card = null %}

                          {% if transaction.kind == 'refund' %}
                            {% assign kind = 'refunded' %}
                            {% assign has_been_refunded = true %}
                          {% else %}
                            {% assign kind = transaction.kind %}
                          {% endif %}

                          {% if transaction.kind == 'sale' or transaction.kind == 'capture' %}
                            {% assign total_paid = total_paid | plus: transaction.amount %}
                          {% elsif transaction.kind == 'change' or transaction.kind == 'refund' %}
                            {% assign total_paid = total_paid | minus: transaction.amount %}
                          {% endif %}


  {% if transaction.gateway == 'shopify_payments' %}

                            {% assign payment = transaction.receipt.card.type %}
                            {% assign card = transaction.receipt.card.last4 %}

                            {% if kind == 'sale' %}
                              {% assign kind = 'approved' %}
                            {% endif %}

                          {% else %}

                            {% case transaction.gateway %}
                              {% when 'external-credit' %}
                                {% assign payment = transaction.receipt.payment_details.credit_card_company %}
                              {% when 'external-debit' %}
                                {% assign payment = 'debit' %}
                              {% else %}
                                {% assign payment = transaction.gateway %}
                            {% endcase %}

                            {% if kind == 'sale' %}
                              {% assign kind = null %}
                            {% endif %}

                          {% endif %}

                          {% assign transaction_img = '' %}
                          {% assign paymentTypeLower = (payment | downcase) %}

                          {% if paymentTypeLower == 'store-credit' %}
                            {% assign transaction_img = 'mobile-receipt-storecredit.png' | file_url %}
                          {% elsif paymentTypeLower == 'visa' %}
                            {% assign transaction_img = 'mobile-receipt-visa.png' | file_url %}
                          {% elsif paymentTypeLower == 'mastercard' %}
                            {% assign transaction_img = 'mobile-receipt-mastercard.png' | file_url %}
                          {% elsif paymentTypeLower == 'amex' or paymentTypeLower == 'american express' %}
                            {% assign transaction_img = 'mobile-receipt-amex.png' | file_url %}
                          {% elsif paymentTypeLower == 'discover' %}
                            {% assign transaction_img = 'mobile-receipt-discover.png' | file_url %}
                          {% elsif paymentTypeLower == 'diners-club' or paymentTypeLower == 'diners club' %}
                            {% assign transaction_img = 'mobile-receipt-dinersclub.png' | file_url %}
                          {% elsif paymentTypeLower == 'jcb' %}
                            {% assign transaction_img = 'mobile-receipt-credit.png' | file_url %}
                          {% elsif paymentTypeLower == 'debit' %}
                            {% assign transaction_img = 'mobile-receipt-debit.png' | file_url %}
                          {% endif %}

                          {% capture table_cell %}





                                      {% if transaction_img != '' %}<img style="padding:0" alt="{{payment}} Icon" src='{{transaction_img}}' />{% endif %}
                                 <br>

                                  {% if kind == 'change' %}CHANGE DUE{% else %}{{payment|upcase}}{% endif %}
                                      {%if transaction.gateway == 'external-credit' or transaction.gateway == 'shopify_payments'%}<span class="payment-details" style="font-size:16px;line-height:20px;color:#4c4c4c;">{% if card %}<br/>Ends in {{ card }}{% endif %}<br/>{{ transaction.created_at | date: "%d/%m/%y %H:%M:%S %Z" }}
                                      </span>
                                      {% endif %}


                                      {% if transaction.kind == 'refund'%}
                                      -{{ transaction.amount | money }}
                                      {% else %}
                                      {{ transaction.amount | money }}
                                      {% endif %}

                          {% endcapture %}
                            {% if kind != 'change' %}

                                  {{ table_cell }}

                            {% else %}
                              {% assign change_info = table_cell %}
                            {% endif %}
                          {% endif %}
                    {% endfor %}

              <!-- CHANGE OR AMOUNT DUE -->
              {% if has_been_refunded == false %}
                {% assign balance_due = total_price | minus: total_paid %}
                {% if financial_status == 'partially_paid' or balance_due > 0 or change_info != '' %}

                    {% if change_info != '' %}
                      {{ change_info }}
                    {% elsif financial_status == 'partially_paid' or balance_due %}


                        <p>    BALANCE DUE

                            {{ balance_due | money }}</p>

                    {% endif %}
                               {% endif %}
              {% endif %}
              {% else %}

                          BALANCE DUE

                          {{ total_price | money }}

              {% endif %}

<p>If you have any questions, please send an email to <u>{{ shop.email }}</u></p>
