body, html {
  padding: 0;
  margin: 0;
}
body {
    font-family: sans-serif;

}
.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
article {
    margin-left: 270px;
    padding: 1px;
    overflow: hidden;
    max-width: 90%;


}
header {
    padding: 1em;
    color: white;
    background-color: 000000;
    clear: left;
    text-align: center;
}
 footer{
   padding: 3px;
   color: white;
   background-color: #00008B;
   text-align: right;
   font-size: 12px;
 }

 .footerfrench{
   text-align: right;
 }

  nav {
    background-color:#dddddd;
    color: white;
    max-width: 275px;
    margin: 0;
    padding: 1em;
    height: 100%;
    position: fixed;
    border-right: 0px solid blue;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: 'Baloo', cursive;

}
.navbutton {
    background-color: 			#00008b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
      font-size: 16px;
    width: 200px;
    margin: 4px 2px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Baloo', cursive;

}

.tablebutton{

      background-color: 			#00008b;
      border: none;
      color: white;
      padding: 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border-radius: 25px;
      font-size: 14px;
      width: 150px;
      height: 100px;
      margin: 2px 2px;
      cursor: pointer;
      font-family: 'Baloo', cursive;
      column-width:250px;

  }

.footerbutton{
  background-color: 			#00008b;
  border: solid;
  border-color: white;
  border-width: 2px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  width: 150px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Baloo', cursive;

}
  button:hover{
    background-color:black}


table {
    font-family: sans-serif;
    border-collapse: collapse;
       width: 100%;
}

th {
    border: 0px solid #dddddd;
    text-align: right;
    padding: 10px;

}
td {
    border: 0px solid #dddddd;
    text-align:left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

thead{
  border-bottom: 2px solid #000000;
  text-align: right;
  padding: 10px;
}

.right{
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  border:5px solid #00008B;
}
@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
  }

 .main-title {
   font-size:60px;
   color: #00008b;
   font-family: 'Baloo', cursive;
   padding: 5px;
 }
 .page-title {
   font-size: 200%;
   color: #00008b;
   font-family: 'Baloo', cursive;
 }
 .page-table table{

 }
 .page-table th {
     border: 0px solid black;
     text-align: center;
     padding: 5px;


 }
 .page-table td {
     border: 0px solid black;
     text-align:left;
     padding: 5px;
 }

 .table-img {
   padding: 5px;
   max-width:200px;
   width: 90%

 }
 .table-data th{
   border: 0px solid black;
   text-align: right;
   padding: 5px;
 }
 .table-data td {
     border: 0px solid black;
     text-align:right;
     padding: 10px;


}
 .image-button{
 width: 250px;
 border: solid;
 border-width: medium;
 border-color: #00008b;
 border-radius: 25px;
 }


div.transbox {
  width: 250px;
  background-color: #ffffff;
  border-radius: 25px;
  opacity: 0.79;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox:hover{
   opacity: 0.39;
}

.logo {
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    position: static;
    max-width: 100%;
  }

  .logo {
    width: 240px;
  }

  article {
    margin-left: auto;
  }
}
